:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --gren-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-60: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Bebas Neue", cursive;
  font-family: "Oxygen", sans-serif;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    var(--pink-light),
    var(--cyan-light)
  );
  font-size: 16px;
  color: var(--blue-dark);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-top-highlight-color: transparent;
  background: rgb(255, 121, 21);
  background: linear-gradient(
    90deg,
    rgba(255, 121, 21, 0.33) 0%,
    rgba(160, 36, 36, 0.5) 50%,
    rgba(255, 121, 21, 0.33) 100%
  );
  
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /*background-color: var(--gren-yellow);*/
  z-index: -1;
  opacity: 0.12;
}

.header .navbar {
  margin-bottom: 10px;
  background-color: transparent !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.nav-link{
  color: blue;
}

section {
  background-color: var(--white-alpha-60);
  border: 1px solid var(--white-alpha-40);
  min-height: 90vh;
  border-radius: 30px;
}
a {
  text-decoration: none;
}

.main {
  max-width: 1200px;
  margin: auto;
}
.conta-hoe {
  padding: 0 40px;
  width: 100%;
}
.col {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
/*buttons*/
.boton {
  text-decoration: none;
  line-height: 1.5;
  background-color: var(--white-alpha-60);
  border: 1px solid var(--white-alpha-40);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  margin-top: 5px;
  color: var(--main-color);
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.boton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.3s ease;
}
.boton:hover::before {
  width: 100%;
}
.boton:hover {
  color: var(--white);
}
.home-section {
  display: flex;
  padding: 120px 0;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}
.home-text p {
  font-size: 18px;
}
.home-text h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: white;
}
.home-text h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #db8330;
}

.home-img,
.img-box {
  max-width: 360px;
  background-color: var(--white-alpha-60);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-60);
  margin: auto;
}
.home-text,
.img-box img {
  border-radius: 50%;
}

/*Media queris*/

@media (max-width: 991px) {
  .container {
    padding: 0;
  }
  .home-text,
  .home-img {
    width: 100%;
  }
  .home-text {
    text-align: center;
  }
  .home-img {
    order: -1;
  }
  .home-img .img-box {
    max-width: 300px;
  }
  .home-text .btn {
    margin: 0.7px 15px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 500px) {
  .home-text h1 {
    font-size: 1.8rem;
  }
  .home-text h2 {
    font-size: 1.8rem;
  }
}
